@model LoL_Builds.ApplicationUser

@{
    ViewBag.Title = Model.Email;
}

<h2 style="color:white">@Model.Email</h2>

<h3 style="color:white">Tem a certeza que quer eliminar @Model.Email?</h3>
<div style="color:white">

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |

        @Html.ActionLink("Voltar aos detalhes", "Details", "UsersAdmin", new { userName = Session["UserEmail"] }, new { @class = "btn btn-default" })
    </div>
    }
</div>
