@model IEnumerable<LoL_Builds.Models.ChampRoles>

@{
    ViewBag.Title = "Roles";
}


<h2 style="color:white">Roles:</h2>

<div class="row">
        @foreach (var role in Model)
        {
            <div class="container col-md-2 text-center" style="margin-left: 27px; padding-bottom:35px">

                <div class="thumbnail thumbRoles" style="background-color :#bfbfbf;">

                    @* IMAGEM DA ROLE *@
                    <a style="cursor:pointer;" href="@(Url.Action("Details", "ChampRoles", new { id = role.ID }))">
                        <img class="img-thumbnail" src="~/Imagens/Roles/@role.Imagem" />
                    </a>
                    @* NOME DA ROLE *@
                    <div class="container">
                        <div class="h4 text-primary">
                            <h4>
                                @Html.DisplayFor(modelChampions => role.Role)
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

