@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Erro";
}

<hgroup>
    <h1 style="color:white" class="text-error">@ViewBag.Title</h1>
    <h2 style="color:white" class="text-error">Ocorreu um erro ao processar o pedido</h2>
</hgroup>
